.mastodon-comments {
	 background-color: var(--body-background);
	 border-radius: var(--card-border-radius);
	 padding: var(--card-padding);
	 margin-bottom: 1rem;
	 display: flex;
	 gap: 1rem;
	 flex-direction: column;
	 flex-grow: 2;
}
 .mastodon-comments .comment {
	 display: flex;
	 flex-direction: row;
	 gap: 1rem;
	 flex-wrap: true;
}
 .mastodon-comments .comment-avatar img {
	 width: 6rem;
}
 .mastodon-comments .content {
	 flex-grow: 2;
}
 .mastodon-comments .comment-author {
	 display: flex;
	 flex-direction: column;
}
 .mastodon-comments .comment-author-name {
	 font-weight: bold;
}
 .mastodon-comments .comment-author-name a {
	 display: flex;
	 align-items: center;
}
 .mastodon-comments .comment-author-date {
	 margin-left: auto;
}
 .mastodon-comments .disabled {
	 color: var(--accent-color);
}
 .mastodon-comments-content p:first-child {
	 margin-top: 0;
}
 .mastodon {
	 --dlg-bg: #282c37;
	 --dlg-w: 600px;
	 --dlg-color: #9baec8;
	 --dlg-button-p: 0.75em 2em;
	 --dlg-outline-c: #00d9f5;
}
